{
    "host": "127.0.0.1",

    "port": 7777,
  
    "keyLength": 10,

    "minLength": 10,

    "maxLength": 400000,
  
    "staticMaxAge": 86400,
  
    "recompressStaticAssets": false,
  
    "logging": [
      {
        "level": "verbose",
        "type": "Console",
        "colorize": true
      }
    ],
  
    "keyGenerator": {
      "type": "phonetic"
    },
  
    "ratelimit": {
      "time": 15,
      "time_comment": "value here should be considered in minutes", 
      "requests": 30,
      "requests_comment": "requests allowed, resets after time passes this also includes getting documents!"
    },
  
    "storage": {
      "type": "file",
      "path": "./data"
    },
  
    "documents": {
      "about": "./about.md"
    }
  
  }
  